<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardUpdate</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/axios.min.js}"></script>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>

<div class="container">
    <form action="/board/update" method="post" name="">
        <input type="hidden" name="boardHits" th:value="${board.boardHits}" class="form-control">
        <input type="hidden" name="memberId" th:value="${board.memberId}" class="form-control">

        번호: <input type="text" name="id" th:value="${board.id}" readonly class="form-control">
        비밀번호: <input type="text" name="memberPassword" th:value="${session.loginSession.memberPassword}" class="form-control">
        제목: <input type="text" name="boardTitle" th:value="${board.boardTitle}" class="form-control">
        작성자: <input type="text" name="boardWriter" th:value="${board.boardWriter}" class="form-control">
        내용: <textarea type="text" name="boardContents" th:text="${board.boardContents}" class="form-control"></textarea>
        <input type="text" name="" th:value="" class="form-control">

    </form>
</div>

</body>
</html>